@{
    ViewData["Title"] = "Menü";
}

<h2>Menü</h2>

<ul>
    <li><a asp-controller="SalonIslemleri" asp-action="Index">Salon İşlemleri</a></li>
    <li><a asp-controller="Randevu" asp-action="RandevuOlustur">Randevu Oluştur</a></li>
    <!-- Diğer menü öğelerini buraya ekleyebilirsiniz -->
</ul>