@{
    ViewData["Title"] = "Üye Menüsü";
}

<h2>Üye Menüsü</h2>

<ul>
    <li><a asp-controller="Randevu" asp-action="RandevuOlustur">Randevu Oluştur</a></li>
    <li><a asp-controller="Randevu" asp-action="Randevularim">Randevularım</a></li>
</ul>