@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Paneli</h2>

<ul>
    <li><a asp-controller="Admin" asp-action="SalonTanimla">Salon Tanımla</a></li>
    <li><a asp-controller="Admin" asp-action="IslemTanimla">İşlem Tanımla</a></li>
    <li><a asp-controller="Admin" asp-action="PersonelTanimla">Personel Tanımla</a></li>
    <li><a asp-controller="Admin" asp-action="SalonIslemleri">Salon İşlemleri</a></li>
    <li><a asp-controller="Admin" asp-action="RandevuOnayla">Randevu Onayla</a></li>
    <li><a asp-controller="Admin" asp-action="RandevuOlustur">Randevu Oluştur</a></li>
    <li><a asp-controller="Admin" asp-action="GunlukCiro">Günlük Ciro Hesapla</a></li>
</ul>